<!DOCTYPE html>
<html>
  <head>
    <!-- Cleaner font -->
    <link href="https://fonts.googleapis.com/css?family=Rajdhani" rel="stylesheet">
    <!-- CSS source files -->
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/boti.css" />
    <nav class="nav1">
      <menu class="menu1">
        <% for(var i=0; i<menuItem.length; i++) {%>
          <div id="<%=menuItem[i].id%>" class="menu1-button"><div class="menu1-button-text"><%=menuItem[i].text%></div></div>
        <%}%>
      </menu>
    </nav>
  </head>
  <body>
    <section id="pageContainer">
    </section>
  </body>
  <foot>
    <!-- JS source files -->
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/main.js"></script>
  </foot>
</html>
